/* fontes */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: 'Nowduke-Regular.ttf';
    font-style: normal;
    font-weight: bold;
    src: local('fonte/Nowduke-Regular.ttf'), url('fonte/Nowduke-Regular.woff') format('woff');
}
@font-face {
    font-family: 'torchzilla-regular.ttf';
    font-style: normal;
    font-weight: bold;
    src: local('fonte/torchzilla-regular.ttf'), url('fonte/torchzilla-regular.woff') format('woff');
}
@font-face {
    font-family: 'Discopia Regular.ttf';
    font-style: normal;
    font-weight: bold;
    src: local('fonte/Discopia Regular.ttf'), url('fonte/Discopia Regular.woff') format('woff');
}
@font-face {
    font-family: 'Sportify Gradation Slant.ttf';
    font-style: normal;
    font-weight: bold;
    src: local('fonte/Sportify Gradation Slant.ttf'), url('fonte/Sportify Gradation Slant.woff') format('woff');
}
@font-face {
    font-family: 'Sportify Gradation.ttf';
    font-style: normal;
    font-weight: bold;
    src: local('fonte/Sportify Gradationttf'), url('fonte/Sportify Gradation.woff') format('woff');
}
@font-face {
    font-family: 'Sportify Line Slant.ttf';
    font-style: normal;
    font-weight: bold;
    src: local('fonte/Sportify Line Slant.ttf'), url('fonte/Sportify Line Slant.woff') format('woff');
}
@font-face {
    font-family: 'Sportify Line.ttf';
    font-style: normal;
    font-weight: bold;
    src: local('fonte/Sportify Line.ttf'), url('fonte/Sportify Line.woff') format('woff');
}
@font-face {
    font-family: 'Sportify Slant.ttf';
    font-style: normal;
    font-weight: bold;
    src: local('fonte/Sportify Slant.ttf'), url('fonte/Sportify Slant.woff') format('woff');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}
/* 
Cores - VaporWave
#fe849b
#010204
#aa6675
#210d18
#8b8bbd


Cores - CyberPunk
#d6d026
#5d9a56
#085554
#10170f
#d7e036

/* Tetris */

canvas {
    transform: scale(1.3);
}

.analytics-tetris {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: calc(100% - 300px);
    height: 100%;
    right: 0;
}

.tetris-top {
    display: flex;
    flex-direction: column;
}

.tetris-bottom {
    display: flex;
    flex-direction: column;
}

.rankingTetris {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    background-color: #291418;
    width: 500px;
    height: 600px;
}

.tituloRank {
    padding: 20px;
}
.tituloRank h1{
    color: #6bffba;
    font-size: 45px;
}

.pontosJogadores {
    display: flex;
    flex-direction: column;
}
.pontosJogadores span{
    color: #8b8bbd;
    padding: 5px;
    font-size: 35px;
}
.pontosJogadores p {
    color: #fff;
    padding: 5px;
    font-size: 35px;
}

.rankeados {
    display: flex;
    flex-direction: row;
}
/* BackGround */
.backgrau {
    width: 100%;
    height: 100vh;
    background: 
    linear-gradient(rgba(1, 1, 56, 0.897), rgba(1, 1, 56, 0.562)),
    url('wp.jpg');
    background-size: cover;
    display: flex;
}


/* botão modo noturno */
  
.navbar{
    width: 100%;
    height: 80px;
    background: #fe849b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.navbar .menu-btn {
    color: #0f0f0f;
    cursor: pointer;
    display: none;
}

.opcoes ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.loguinho{
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loguinho img{
    width: 50px;
}
.opcoes{
    width: 500px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.opcoes .liCyber:hover {
    background: none;
    cursor: pointer;
    transform:scale(1.1);
    transition: 0.5s ease;
}
.opcoes .liCyber button {
    cursor: pointer;
}
.opcoes li, a{
    list-style: none;
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    padding: 10px;
    border-radius: 10px;
    letter-spacing: 1px;
    font-family: 'Nowduke-Regular.ttf';
}
.opcoes li button {
    background: none;
    border: none;
    height: 20px;
}
.opcoes li button img{
    width: 60px;
}
.opcoes li:hover {
    background-color: #8b8bbd;    
    transition: 0.5s ease;
}

.modo {
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    background-size: cover; 
}
.inicio {
    background: 
    linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url('bg.png');
    z-index: -100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.carde {
    background: #0c0607;
    z-index: -100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 750px;
    width: 100%;
}
.historia {
    z-index: -100;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 750px;
    width: 100%;
    background: 
    linear-gradient(rgba(0,0,0,0.900), rgba(0, 0, 0, 0.900)),
    url('/imagens/img5.jpg');
}
.contador {
    display: flex;
    flex-direction: column;
    width: 800px;
}
.contador h1 {
    font-family: 'Sportify Slant.ttf';
    font-size: 60px;
    color: #6bffb9;
}
.contador p {
    font-size: 35px;
    color: #fff;
}
.imagem {
    display: flex;
    flex-direction: column;
}
.imagem img {
    border-radius: 10px;
}
.zampieri {
    z-index: -100;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 750px;
    width: 100%;
    background: 
    linear-gradient(rgba(0, 85, 57, 0.801), rgba(71, 0, 62, 0.781)),
    url('/imagens/laser.jpg');
}
.footer {
    z-index: -100;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    width: 100%;
    background: #fe849b;
}
.footer h3 {
    color: #210d18;
    font-family: 'Sportify Slant.ttf';
    padding: 10px;
    border: 4px solid #210d18;
    border-radius: 10px;
}
.footer .navegar {
    width: 600px;
    display: flex;
    justify-content: space-around;
}
.footer .navegar a{
    color: #210d18;
}
.footer .navegar a:hover {
    transform: scale(1.1);
    transition: 0.5s ease;
}
.footer img {
    width: 60px;

}
.zampImg img{
    width: 500px;
    border-radius: 10px;
}
#graficos {
    width: 80%;
    height: 300px;
}
#quizContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1400px;
    height: 80vh;
    background: #15151d;
    border-radius: 20px;
    border: 5px solid #ad5867;
}
#inicarQuiz {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
#inicarQuiz button {
    width: fit-content;
    border-radius: 10px;
    font-size: 50px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #ad5867;
    color: #210d18;
    border: 3px solid #51be8f;
    cursor: pointer;
    font-family: 'Nowduke-Regular.ttf';
}
#inicarQuiz button:hover {
    transform: scale(1.1);
    transition: 0.5s ease;
}
#inicarQuiz h1 {
    color: #ad5867;
    font-size: 150px;
    font-family: 'torchzilla-regular.ttf';
    -webkit-text-stroke-color: #51be8f ;
    -webkit-text-stroke-width: 3px;
    padding: 100px;
    padding-bottom: 0px;
}
#inicarQuiz p {
    font-family: 'Sportify Slant.ttf';
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 100px;
    color: #6bffb9;
}
#pergunta1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#pergunta1 button {
    width: 250px;
    border-radius: 10px;
    font-size: 30px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #ad5867;
    color: #210d18;
    border: 3px solid #51be8f;
    cursor: pointer;
    font-family: 'Nowduke-Regular.ttf';
}
#pergunta1 h2 {
    color: #fe849b;
    font-size: 60px;
    font-family: 'Roboto';
    padding: 100px;
    padding-bottom: 0px;
}
#pergunta2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#pergunta2 button {
    width: 250px;
    border-radius: 10px;
    font-size: 30px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #ad5867;
    color: #210d18;
    border: 3px solid #51be8f;
    cursor: pointer;
    font-family: 'Nowduke-Regular.ttf';
}
#pergunta2 h2 {
    color: #fe849b;
    font-size: 60px;
    font-family:'Roboto' ;
    padding: 100px;
    padding-bottom: 0px;
}
#pergunta3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#pergunta3 button {
    width: 250px;
    border-radius: 10px;
    font-size: 30px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #ad5867;
    color: #210d18;
    border: 3px solid #51be8f;
    cursor: pointer;
    font-family: 'Nowduke-Regular.ttf';
}
#pergunta3 h2 {
    color: #fe849b;
    font-size: 60px;
    font-family:'Roboto' ;
    padding: 100px;
    padding-bottom: 0px;
}
#pergunta4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#pergunta4 button {
    width: 250px;
    border-radius: 10px;
    font-size: 30px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #ad5867;
    color: #210d18;
    border: 3px solid #51be8f;
    cursor: pointer;
    font-family: 'Nowduke-Regular.ttf';
}
#pergunta4 h2 {
    color: #fe849b;
    font-size: 60px;
    font-family:'Roboto' ;
    padding: 100px;
    padding-bottom: 0px;
}
#pergunta5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#pergunta5 button {
    width: 250px;
    border-radius: 10px;
    font-size: 30px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #ad5867;
    color: #210d18;
    border: 3px solid #51be8f;
    cursor: pointer;
    font-family: 'Nowduke-Regular.ttf';
}
#pergunta5 h2 {
    color: #fe849b;
    font-size: 60px;
    font-family:'Roboto' ;
    padding: 100px;
    padding-bottom: 0px;
}
#pergunta6 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#pergunta6 button {
    width: 250px;
    border-radius: 10px;
    font-size: 30px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #ad5867;
    color: #210d18;
    border: 3px solid #51be8f;
    cursor: pointer;
    font-family: 'Nowduke-Regular.ttf';
}
#pergunta6 h2 {
    color: #fe849b;
    font-size: 60px;
    font-family:'Roboto' ;
    padding: 100px;
    padding-bottom: 0px;
}
#pergunta7 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#pergunta7 button {
    width: 250px;
    border-radius: 10px;
    font-size: 30px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #ad5867;
    color: #210d18;
    border: 3px solid #51be8f;
    cursor: pointer;
    font-family: 'Nowduke-Regular.ttf';
}
#pergunta7 h2 {
    color: #fe849b;
    font-size: 60px;
    font-family:'Roboto' ;
    padding: 100px;
    padding-bottom: 0px;
}
#pergunta8 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#pergunta8 button {
    width: 250px;
    border-radius: 10px;
    font-size: 30px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #ad5867;
    color: #210d18;
    border: 3px solid #51be8f;
    cursor: pointer;
    font-family: 'Nowduke-Regular.ttf';
}
#pergunta8 h2 {
    color: #fe849b;
    font-size: 60px;
    font-family:'Roboto' ;
    padding: 100px;
    padding-bottom: 0px;
}
#pergunta9 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#pergunta9 button {
    width: 250px;
    border-radius: 10px;
    font-size: 30px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #ad5867;
    color: #210d18;
    border: 3px solid #51be8f;
    cursor: pointer;
    font-family: 'Nowduke-Regular.ttf';
}
#pergunta9 h2 {
    color: #fe849b;
    font-size: 60px;
    font-family:'Roboto' ;
    padding: 100px;
    padding-bottom: 0px;
}
#pergunta10 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#pergunta10 button {
    width: 250px;
    border-radius: 10px;
    font-size: 30px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #ad5867;
    color: #210d18;
    border: 3px solid #51be8f;
    cursor: pointer;
    font-family: 'Nowduke-Regular.ttf';
}
#pergunta10 h2 {
    color: #fe849b;
    font-size: 60px;
    font-family:'Roboto' ;
    padding: 100px;
    padding-bottom: 0px;
}
#div_homem button {
    color: #ad5867;
    font-size: 150px;
    font-family: 'torchzilla-regular.ttf';
    -webkit-text-stroke-color: #51be8f ;
    -webkit-text-stroke-width: 3px;
    padding-top: 50px;
    background: transparent;
    border: none;
    cursor: pointer;
}   
#div_homem button:hover {
    transform: scale(1.5);
    transition: 0.5s ease;
    text-shadow: 2px 2px 5px #6bffba,
    5px 5px 70px #6bffba;
}
.questa {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Define 2 colunas de tamanho igual */
    grid-template-rows: repeat(2, 1fr); /* Define 2 linhas de tamanho igual */
    gap: 20px;
    margin-top: 120px;
    margin-bottom: 150px;
    max-width: 450px;
}
/* cards */

.cardes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.card {
    width: 350px;
    height: 500px;
    background-image: linear-gradient(163deg, #fe849b 0%, #6bffb9 100%);
    border-radius: 20px;
    transition: all .3s;
   }
.cardTitulo {
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardTitulo h1{
    color: #fe849b;
    position: absolute;
    margin-bottom: 50px;
    font-size: 60px;
    font-family: 'Sportify Slant.ttf';
}
   .card2 {
    width: 350px;
    height: 500px;
    background-color: #1a1a1a;
    border-radius:;
    transition: all .2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
   }
   .card2 h3{
    font-size: 50px;
    color: #fe849b;
    font-family: 'torchzilla-regular.ttf';
   }
   .card p {
    font-size: 18px;
    color: #f2f2f2;
    letter-spacing: 2px;
   }
   
   .card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
   }
   
   .card:hover {
    box-shadow: 0px 0px 30px 1px #6bffba3d;
   }

.inicio h1 {
    color: #fe849b;
    font-size: 150px;
    font-family: 'torchzilla-regular.ttf';
    -webkit-text-stroke-color: #327a59 ;
    -webkit-text-stroke-width: 3px;
}
.inicio h1:hover {
    transform: scale(1.3);
    transition: 1s ease;
    text-shadow: 2px 2px 5px #6bffba,
    5px 5px 70px #6bffba;
}

/* Cadastro e Login */ 

.cadastro {
    background: #404057;
    width: 800px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    border: 4px solid #8b8bbd;
}
.cadastro .conteudo h1{
    display: flex;
    justify-content: center;
    font-family: 'Sportify Slant.ttf';
    font-size: 60px;
    color: #fff;
    -webkit-text-stroke-color: #8b8bbd;
    -webkit-text-stroke-width: 3px;
}
.cadastro .conteudo h3{
    color: #f2f2f2;
    -webkit-text-stroke-color: #8b8bbd;
    -webkit-text-stroke-width: 1px;
    font-size: 25px;
    padding-bottom: 5px;
    padding-top: 10px;
}
.cadastro .conteudo input{
    font-size: 20px;
    color: #333346;
    border: 2px solid #8b8bbd;
    border-radius: 10px;
    height: 40px;
    padding: 5px;
}
.cadastro .conteudo select {
    color:#333346;
    font-size: 20px;
    border: 2px solid #8b8bbd;
    border-radius: 10px;
    height: 40px;
    padding-bottom: 5px;
    padding-top: 10px;
}
.cadastro .conteudo button {
    color: #fff;
    background: #8b8bbd;
    border: none;
    margin-top: 20px;
    font-size: 25px;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    width: 480px;
}
.cadastro .conteudo button:hover {
    background: #707099;
    transform: scale(1.1);
    transition: 0.5s ease;
}

.conteudo {
    display: flex;
    flex-direction: column;
}

/* side-bar */
.side-bar{
    width: 300px;
    height: 100vh;
    background: #fe849b;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
.side-bar .logo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.side-bar .logo img {
    width: 55px;
    padding-right: 5px;
}
.side-bar .logo img:hover {
    transform: scale(1.1);
    transition: 0.5s ease;
}
.side-bar .logo h3 {
    color: #210d18;
    font-family: 'torchzilla-regular.ttf';
    font-size: 45px;
}
.side-bar .logo h3:hover {
    text-shadow: 2px 2px 5px #8b8bbd,
    5px 5px 70px #8b8bbd;
    transform: scale(1.1);
    transition: 1s ease;
}
.side-bar .content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    height: 400px;
}
.side-bar .content .opcao {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
.side-bar .content .opcao span{
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    color: #210d18;
    font-family:'Sportify Slant.ttf';
}
.side-bar .content .opcao span:hover {
    color: #210d18;
    background: #8b8bbd;
    transition: 0.5s ease;
}
.side-bar .content .opcao i {
    font-size: 30px;
    color: #210d18;
}
.side-bar .logout {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px;
    height: fit-content;
}
.side-bar .logout .opcao {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
.side-bar .logout .opcao span{
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    color: #210d18;
    font-family:'Sportify Slant.ttf';
}
.side-bar .logout .opcao span:hover {
    color: #210d18;
    background: #8b8bbd;
    transition: 0.5s ease;
}
.side-bar .logout .opcao i {
    font-size: 30px;
    color: #210d18;
}

/* analytics */

.analytics {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: calc(100% - 300px);
    height: 100%;
    right: 0;
}
.analytics .container {
    overflow: auto;
}
.analytics .container .subgenero {
    height: 100vh;
    border-radius: 20px;  
    display: flex;
    justify-content: center;
    align-items: center;
}
.analytics .container .subgenero h1 {
    color: #fe849b;
    font-size: 150px;
    font-family: 'torchzilla-regular.ttf';
    -webkit-text-stroke-color: #28664a;
    -webkit-text-stroke-width: 3px;
}
.analytics .container .subgenero h1:hover {
    transform: scale(1.3);
    transition: 1s ease;
    text-shadow: 2px 2px 5px #6bffba,
    5px 5px 70px #6bffba;
}
.manga {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.subgenero {
    height: 100vh;
    background: 
    linear-gradient(rgba(1, 1, 56, 0.897), rgba(1, 1, 56, 0.562)),
    url('wp.jpg');
}
.ecco-jams {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 1200px;
    padding: 100px;
    width: 100%;
    background: 
    linear-gradient(#13131a, #13131a, #3d3d53, #13131a, #13131a);
    background-size: cover;
}
.ecco-jams h1 { 
    font-size: 60px;
    color: #6bffb9;
    font-family: 'Sportify Slant.ttf';
}
.ecco-jams p {
    font-size: 35px;
    width: 1000px;
    color: #fff;
}
.future-vision {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 1200px;
    padding: 100px;
    width: 100%;
    background: 
    linear-gradient(rgba(0, 0, 0, 0.750), rgba(0, 0, 0, 0.750)),
    url('/imagens/future.jpg');
    background-size: cover;
}
.future-vision h1 {
    font-size: 60px;
    color: #6bffb9;
    font-family: 'Sportify Slant.ttf';
}
.future-vision p {
    font-size: 35px;
    width: 1000px;
    color: #fff;
}
.vapor-trap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 1200px;
    padding: 100px;
    width: 100%;
    background: 
    linear-gradient(rgba(0, 0, 0, 0.750), rgba(0, 0, 0, 0.750)),
    url('/imagens/Rocco-vaporwave.co_.gif');
    background-size: cover;
}
.vapor-trap h1 {
    font-size: 60px;
    color: #6bffb9;
    font-family: 'Sportify Slant.ttf';
}
.vapor-trap p {
    font-size: 35px;
    width: 1000px;
    color: #fff;
}
.faux-utopian {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 1200px;
    padding: 100px;
    width: 100%;
    background: 
    linear-gradient(rgba(0, 0, 0, 0.900), rgba(0, 0, 0, 0.900)),
    url('/imagens/faux.jpg');
    background-size: cover;
}
.faux-utopian h1 {
    font-size: 60px;
    color: #6bffb9;
    font-family: 'Sportify Slant.ttf';
}
.faux-utopian p {
    font-size: 35px;
    width: 1000px;
    color: #fff;
}
.analytics-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    height: 35%;
}
.analytics-bottom {
    width: 95%;
    height: 55%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.analytics-bottom .card-wave{
    width: 1000px;
    height: 500px;
    background: #bebebe;
    box-shadow: 10px 15px 10px 10px #00000017;
}
.analytics-bottom .close{
    width: 100%;
    height: 15%;
    background: linear-gradient(to right, rgb(133 3 33), rgb(206 17 167));
    display: flex;
    justify-content: space-between;
}
.analytics-bottom .contento {
    display: flex;
    justify-content: center;
    align-items: center;
}
#myChart {
    margin-top: 80px;
}

/* Card Retro <3 */

.card-wave{
    width: 400px;
    height: 200px;
    background: #bebebe;
    box-shadow: 10px 15px 10px 10px #00000017;
}
.close{
    width: 100%;
    height: 15%;
    background: linear-gradient(to right, rgb(53, 53, 255), rgb(149, 138, 255));
    display: flex;
    justify-content: space-between;
}
.fatal{
    font-family: 'Times New Roman', Times, serif ;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    color: aliceblue;
    align-items: center;
}
.fatal h2{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif ;
}
.coco{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.coco button{
    font-family: 'Times New Roman', Times, serif ;
    background: #bebebe;
    cursor: pointer;
    width: 25px;
    height: 25px;
}
.contento{
    display: flex;
    align-items: center;
    width: 100%;
    height: 65%;
    justify-content: space-evenly;
    gap: 50px;
}
.contento img {
    width: 80px;
    margin-left: 20px;
    margin-top: 20px;
}
.contento p {
    font-family: 'Times New Roman', Times, serif;
    width: 250px;
    height: fit-content;
    display: flex;
    justify-content: center;
}
.ok{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttu-ok{
    font-family: 'Times New Roman', Times, serif ;
    width: 100px;
    background: #bebebe;
    cursor: pointer;
}

@media (max-width: 920px) {
    .modo {
        display: none;
    }
    .cyberpunk {
        display: none;
    }
    
    .navbar .menu-btn {
        display: block;
        padding: 20px;
        padding-left: 120px;
    }
    .navbar .opcoes ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: #fe849b;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }
    .navbar .opcoes ul.open{
        left: 0;
    }
    .navbar .opcoes ul li{
        width: 100%;
        margin: 50px 0;
    }
    .navbar .opcoes ul li a {
        font-size: 23px;
    }
    .navbar .opcoes ul li a.active,
    .navbar .opcoes ul li a:hover{
        background: #8b8bbd;
        border-radius: 10px;
        transition: 0.5s;
    }   
    .navbar .opcoes ul li:hover {
        background: none;
        cursor: pointer;
    }
}